.logo {
    padding: 0;
}

.logo img {
    height: 63px;
}

.App-logo-spin {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.main-icon {
    height: 45px;
    margin-right: 12px;
}

.main-icon-big{
    height: 55px;
    margin-right: 12px;
}

.icon-row {
    margin-right: 6px;
    height: 35px;
}

.icon-glyph {
    margin-right: 6px;
}

/*Icons*/
.header-icon {
    height: 45px;
    /*margin-right: 12px;*/
}

.small-icon-container{
    /*margin-left: -2em!important;*/
    display: inline-block;
}

.show-small{
    display: none;
}

.hide-small{
    display: inline-block;
}

.small-icon {
    display: inline;
    height: 15px;
    margin-right: 2px;
}

.highlight-icon{
    text-align: center;

}

.highlight-icon img{
    height: 3em;

}
.user-icon{
    text-align: center!important;
    margin-left: -0.8em!important;
    height: 60px;
    border-radius: 50%;
    vertical-align: text-bottom;
}

.footer-icon {
    height: 20px;
    margin-right: 3px;
}

.social-icon {
    /*height: 20px;*/
    margin-right: 1em;
}

/*//Services:*/
.img-service {
    max-width: 30vh;
}

.brand-logo {
    height: 60px;
    margin-right: 1em;
}

.icon-dest{
    margin-right: 2px;
    /*margin-left: 2px;*/
    height: 25px;
}

.icon-trip{
    margin-right: 2px;
    margin-left: 2px;
    height: 15px;
}

@media screen and (min-width: 960px) {/*SuperHuge*/
    .user-icon{
        height: 80px;
    }

    .icon-trip{
        height: 20px;
    }
}
@media screen and (max-width: 960px) {
    .show-small{
        display: inline-block!important;
    }

    .hide-small{
        display: none!important;
    }

    .small-icon-container{
        margin-left: -2em!important;
        /*display: inline-block;*/
    }

}
@media screen and (max-width: 840px) {
    .icon-row {
        height: 30px;
    }

    .brand-logo {
        height: 45px;
    }

}

@media screen and (max-width: 640px) {

    .user-icon{
        height: 50px;
    }

    .main-icon {
        height: 30px;
    }

    .sub-section-icon {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 2.5em;
        margin: 36px auto 1.4em -2em
    }

    .sub-section-mini-icon {
        /*display: block;*/
        width: 2em;
        display: inline;
        margin: 0 auto 1.4em -2em
    }

    .icon-row {
        height: 25px;
    }

    .brand-logo {
        height: 30px;
    }
}

