/* Carousel*/
.carousel-container {
    height: 70vh;
}

.coverImg {
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-tabs {
    /*background-color: #122b40;*/
    text-align: center;
    top: -67px;
    /*left: 3vw;*/
    /*bottom: 30vh;*/
    z-index: 1000;
    /*margin-bottom: 20px;*/
    position: relative;
    left: 1em !important;
}

@media screen and (max-width: 740px) {
    .header-tabs {
        left: 1% !important;
    }
}

/*.nav-tabs>li.active>a{*/
/*background: #122b40;*/
/*}*/

.nav-tabs > li {
    margin-left: 0.3em;
    border-radius: 5px;
}

/*.li.park-transp:active {*/
    /*color: var(--parking);*/
/*}*/

.avoid-if-small {
    display: inline-block;
    font-family: "Lemon/Milk", serif;
}

.white-text{
    color: white !important;
    vertical-align: bottom;
}

@media screen and (max-width: 790px) {
    /*.avoid-if-small:active{*/
    /*display: inline-block;*/
    /*}*/
    .avoid-if-small {
        display: none;
    }

    .logo img {
        height: 55px;
    }

    .inline-fit {
        text-align: left;
        display: inline;
    }

    .inline-fit.Button {
        height: 20px;
    }
}

.cover-carp {
    background-position: center;
    background-image: url(../../img/banner/carp.jpg);
}

.cover-rent {
    background-position: center;
    background-image: url(../../img/banner/rent.jpg);
}

.cover-park {
    background-position: center;
    background-image: url(../../img/banner/park.jpg);
}

.cover-elec {
    background-position: bottom;
    background-image: url(../../img/banner/elec.jpg);
}

.header-title {
    left: 0px;
}

.carousel-caption {
    /*float: left!important;*/
    text-align: left !important;
    left: 3em !important;
    margin-left: 1em !important;
    bottom: 10vh !important;
    /*width: 40vw;*/
    /*max-width: 30vw;*/
}

.nav-tabs > li.active > a h4.service-carp{
/*.nav-tabs > li.active > a:hover h4,*/
/*.nav-tabs > li.active > a:focus h4*/
    color: var(--carpooling)!important;
}

.nav-tabs > li.active > a h4.service-rent {
    color: var(--rental)!important;
}
.nav-tabs > li.active > a h4.service-park {
    color: var(--parking)!important;
}
.nav-tabs > li.active > a h4.service-elec {
    color: var(--elec)!important;
}

.carp-transp {
    background: var(--carp-transp);
}

.rent-transp {
    /*background: linear-gradient(to right, white, var(--rent-transp)); !* Standard syntax *!*/
    background: var(--rent-transp);
}

.park-transp {
    /*background: linear-gradient(to right, white, var(--park-transp)); !* Standard syntax *!*/
    background: var(--park-transp);
}

.elec-transp {
    /*background: linear-gradient(to right, white, var(--elec-transp)); !* Standard syntax *!*/
    background: var(--elec-transp);
}


.deg-carp {
    height: 83vh;
    width: 50vw;
    /*background: -webkit-gradient(linear-gradient(right,#122b40, rgba(18, 43, 64, 0.59))) ;*/
    background: -webkit-linear-gradient(left, var(--carp-transp), rgba(18, 43, 64, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, var(--carp-transp), rgba(18, 43, 64, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, var(--carp-transp), rgba(18, 43, 64, 0.0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, var(--carp-transp), transparent); /* Standard syntax */
    text-align: left;
}

.deg-rent {
    height: 83vh;
    width: 50vw;
    /*background: -webkit-gradient(linear-gradient(right,#122b40, rgba(18, 43, 64, 0.59))) ;*/
    background: -webkit-linear-gradient(left, var(--rent-transp), rgba(18, 43, 64, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, var(--rent-transp), rgba(18, 43, 64, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, var(--rent-transp), rgba(18, 43, 64, 0.0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, var(--rent-transp), rgba(18, 43, 64, 0.0)); /* Standard syntax */
    text-align: left;
}

.deg-park {
    height: 83vh;
    width: 50vw;
    /*background: -webkit-gradient(linear-gradient(right,#122b40, rgba(18, 43, 64, 0.59))) ;*/
    background: -webkit-linear-gradient(left, var(--park-transp), rgba(18, 43, 64, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, var(--park-transp), rgba(18, 43, 64, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, var(--park-transp), rgba(18, 43, 64, 0.0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, var(--park-transp), rgba(18, 43, 64, 0.0)); /* Standard syntax */
    text-align: left;
}

.deg-elec {
    height: 83vh;
    width: 80vw;
    /*background: -webkit-gradient(linear-gradient(right,#122b40, rgba(18, 43, 64, 0.59))) ;*/
    background: -webkit-linear-gradient(left, var(--elec-transp), rgba(18, 43, 64, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, var(--elec-transp), rgba(18, 43, 64, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, var(--elec-transp), rgba(18, 43, 64, 0.0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, var(--elec-transp), rgba(18, 43, 64, 0.0)); /* Standard syntax */
    text-align: left;
}

.carousel-caption h1 {
    font-size: 34px;
    font-family: 'Lemon/Milk', serif;
    max-width: 30vw;

}

.carousel-caption h3 {
    font-family: 'Lemon/Milk light', serif;
    font-size: 22px;
    max-width: 40vw;
}

/*.carousel-caption img {*/
    /*height: 60px;*/
    /*margin-right: 12px;*/
    /*background: white;*/
    /*border-radius: 12px;*/
    /*!*border-radius:99%;*!*/
    /*padding: 0.1em;*/
    /*!*max-height: 36px;*!*/
/*}*/

.position-top {
    top: 7vh;
    right: 0;
}

@media screen and (max-width: 740px) {
    .coverImg {
        height: 70vh;
    }

    .cover-carp {
        background-position: center;
    }

    .header-tabs {
        left: 10%;
    }

    .carousel-container {
        height: 70vh;
    }

    .carousel-caption {
        /*left: 0;*/
    }

    .carousel-caption h1 {
        font-size: 24px;
        max-width: 100%;
    }

    .carousel-caption h3 {
        font-size: 16px;
        max-width: 100%;
    }

    /*.carousel-caption img {*/
        /*max-height: 64px;*/
    /*}*/

    .carousel-caption button {
        padding: 0
    }
}